:root {
  --fSize17: 1.21rem;
  --fSize12: 0.85rem;
  --fSize10: 0.71rem;

  --transition: 0.3s;

  --button-font-sm: var(--fSize10);
  --button-font-md: var(--fSize12);
  --button-font-lg: var(--fSize17);

  --button-size-sm: 0.71rem 0.85rem;
  --button-size-md: 0.92rem 1.14rem;
  --button-size-lg: 1.21rem 2.85rem;

  --black-0: #000000; // Black 00
  --black-10: #221f20; // VS Black

  --white-0: #ffffff; // White
  --white-10: #fafafc; // Off White
  --white-20: #e8e8eb; // tag-link-tertiary, tag-link-location
  --white-30: #ffffffcc; // Large Button/Light

  --gray-0: #4c4c4d; // Very Dark Gray
  --gray-10: #7e7e80; // Dark Gray
  --gray-20: #bdbdbf; // Gray
  --gray-30: #d4d4d6; // Light Gray
  --gray-40: #ededf0; // Very Light Gray
  --gray-50: #a6a6a6; // Pipeline/Gray
  --gray-60: #9d9d9e; // tag-link-primary, tag-link-company
  --gray-70: #d7d7d8; // tag-link-secondary, tag-link-contact
  --gray-80: #393939;

  --yellow-0: #f2cd00; // Pipeline/Yellow (Bill)
  --blue-0: #6699ff; // Department/Blue (Equipment)
  --blue-10: #66ccff; // Pipeline/Blue (Wrap)
  --green-0: #029457; // Other/Confirmed
  --green-10: #00c875; // Pipeline/Green (Done)
  --orange-0: #ff9933; // Department/Orange (Production)
  --purple-0: #9999cc; // Department/Purple (Post Production)
  --red-0: #d2232a; // Red
  --red-10: #eb272f; // Red light
  --tangerine-0: #d48c00; // Other/Pending
}
